@use '../../../assets/scss/variables' as *;

// Стили для ToastContainer.vue
.toast-container {
  position: fixed;
  top: $spacing-lg;
  right: $spacing-lg;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  gap: $spacing-md;
}
